form {
  display: flex;
  gap: 1.5%;
}

li {
  list-style-type: none;
}

input {
  width: 8em;
}

button {
  margin-left: 10px;
}

.defense, .offense, .perfect, .raise {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
